.background-grey {
    background-color: #F5F5F5;
  }
  
  .demo-reservation-photo {
    width: 100%;
    height: 600px;
    border-radius: 16px;
    background-color: #d8d6d6;
  }
  
  .container-custom {
    width: 1680px;
  }
  
  /* Formularze */
  .form-control {
    border-radius: 0;
  }
  
  /* Pobieranie plików */
  .download {
    max-block-size: 50px;
    padding: 0;
  }